body{
    margin: 0;
}

.land-cont{
    background-color: #EEA47F;
    padding-bottom: 60px;
}


nav{
    display: flex;
    justify-content: space-between;

    padding: 35px 60px;
    margin-bottom: 50px;
}

.nav-links{
    text-decoration: none;
    color: #00427b;
    font-size: 20px;
    font-family: cursive;
    font-weight: 600;
    transition: 150ms ease-in-out;
}

.nav-links:hover{
    color: #ffffff;
}

.mid-links{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}

/* Nav ends */

.head-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 80px;
}

.head-text{
    width: 700px;
    /* color: #01539D; */
}

.head-text h1{
    font-size: 50px;
    color: #00427b;
    margin-bottom: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 66px;
}

.head-text p{
    width: 600px;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
}

.head-btns{
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.head-btns button{
    border: 0px solid;
    padding: 20px 80px;
    border-radius: 5px;
    font-size: 20px;
    color: #083258;
    font-weight: 600;
    box-shadow: 3px 3px 5px #00000043;

    cursor: pointer;
    transition: 130ms ease-in-out;
}

.head-btn:hover{
    
}

.head-btns button:active{
    box-shadow: 0px 0px 0px;
    
}

.reg-btn{
    background-color: #2CD89A;
    
}

.log-btn{
    background-color: #9C9AFF;
}

.mid-cont{
    padding: 100px 80px;
}

.mc-1, .mc-2, .mc-3{
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
}

.mc-1 img, .mc-2 img, .mc-3 img{
    width: 600px;
    box-shadow: 3px 3px 10px #00000043;
    transition: 300ms ease-in-out;
}

.mc-1 img:hover,
.mc-2 img:hover,
.mc-3 img:hover {
    box-shadow: 5px 5px 20px #00000081;
}

.mc-1 h3, .mc-2 h3, .mc-3 h3{
    width: 600px;
    color: #00427b;
    font-size: 27px;
    text-align: center;
}



/* .btn-4 {
    border: 1px solid;
    overflow: hidden;
    position: relative;

    span {
        z-index: 20;
    }

    &:after {
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: -10;
    }
}

.btn-4:hover {

    &:after {
        left: 120%;
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
}
 */
