<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome "User"</title>

    <link rel="stylesheet" href="../style.css">
    <script src="../app.js"></script>

</head>

<body>
    <div class="dashboard">
        <div class="land-cont">
            <nav>
                <a class="logo" href="">
                    <img src="../assets/diamond.png" alt="logo">
                </a>


                <div class="mid-links">
                    <a class="nav-links" href="index.html">Home</a>
                    <a class="nav-links" href="">Features</a>
                    <a class="nav-links" href="/">Pricing</a>
                </div>
                <div class="nav-link-btn">
                    <a class="nav-links" onclick="">
                        <button id="logout-btn">Logout</button>
                    </a>
                </div>
            </nav>

            <div class="main-cont-dash">
                <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam, officiis.</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam mollitia, quo velit doloribus
                    assumenda quae laudantium explicabo magnam sit sed, suscipit illo iure obcaecati dolorum eius, id
                    optio tenetur corrupti.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, corrupti? Tempora earum atque
                    aliquid facilis, blanditiis repudiandae hic accusamus necessitatibus in a ratione voluptates
                    exercitationem fugiat possimus. Quod, dicta odit.</p>
            </div>


            <div class="priv-dash">
                <img src="" alt="">

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam doloremque sint aspernatur
                    temporibus obcaecati quae, tempore mollitia ullam fugit saepe! Quisquam, debitis suscipit ipsum
                    corrupti provident temporibus aspernatur eligendi necessitatibus fugit autem quo dignissimos dolor
                    inventore dolore accusamus officiis quam minima ratione, aliquid assumenda id soluta? Nobis dolores
                    labore quia!</p>
                <button>Account Details</button>
            </div>

            <div class="user-cont">
                <h2>Welcome <span id="dash-username">User Name</span>!</h2>
                <p>Email: <span id="dash-email">User Email</span></p>
                <button id="logout-btn">Logout</button>
                <!-- accordion -->

            </div>

        </div>

    </div>

    <footer>
        <div class="foot-cont">
            <div class="foot-text">
                <div>
                    <img src="../assets/diamond.png" alt="Logo">
                    <h2>UAT</h2>
                </div>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam veniam voluptatem voluptatum ex
                    nostrum. Earum, soluta repellat! Voluptatem cum animi saepe, est nulla id odit ipsum maiores, harum,
                    quasi enim commodi libero quidem vel? Tempora, praesentium, ullam et maiores id ipsam cum aspernatur
                    quod temporibus quam tempore, soluta cupiditate odit nemo! Quo doloremque, nam qui, deleniti culpa
                    error
                    minus excepturi dolor vero optio ut totam possimus facilis, fuga voluptas odit.
                </p>

            </div>

            <div class="link-sites">
                <div class="foot-links">
                    <ul>
                        <li><a href="/">About</a></li>
                        <li><a href="/">Features</a></li>
                        <li><a href="/">Pricing</a></li>
                        <li><a href="/">Contact Us</a></li>
                    </ul>
                </div>

                <div class="foot-sites">
                    <a href="https://www.facebook.com/">
                        <img src="../assets/facebook-app-symbol.png" alt="Facebook">
                    </a>
                    <a href="https://www.youtube.com">
                        <img src="../assets/youtube.png" alt="Youtube">
                    </a>
                    <a href="https://twitter.com">
                        <img src="../assets/twitter.png" alt="Twitter">
                    </a>
                    <a href="https://www.linkedin.com">
                        <img src="../assets/linkedin.png" alt="LinkedIN">
                    </a>
                </div>
            </div>

        </div>

        <div class="cpr-line">
            Copyright - XYZ | All Rights Reserved | Privacy Policy | Terms & Conditions
        </div>

    </footer>

    <script>
        const username = document.getElementById("dash-username");
        const userEmail = document.getElementById("dash-email");

        username.textContent = "John Doe";
        userEmail.textContent = "john@example.com"

    </script>
</body>

</html>