<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User | Register</title>

    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <div class="regis-cont">
        <nav>
            <a class="logo" href="">
                <img src="../assets/diamond.png" alt="logo">
            </a>


            <div class="mid-links">
                <a class="nav-links" href="/public/index.html">Home</a>
                <a class="nav-links" href="">Features</a>
                <a class="nav-links" href="">Pricing</a>
            </div>
            <div class="nav-link-btn">
                <a class="nav-links" href="login.html">Existing User? Login</a>
            </div>
        </nav>

        <div class="inpts-regis">
            <h1>Sign Up</h1>
            <form action="/register" method="POST" class="reg-inp-form" id="reg-form">
                <!-- <label for="name">Name:</label> -->
                <input id="reg-name" type="text" placeholder="Name" required>
                <!-- <label for="email">Email:</label> -->
                <input id="reg-email" type="email" placeholder="Email" required>
                <!-- <label for="username">Username:</label> -->
                <input id="reg-uname" type="text" placeholder="Username" required>
                <!-- <label for="password">Password:</label> -->
                <input id="reg-pass" type="password" placeholder="Password" required>
                <button type="submit">Submit</button>
            </form>
        </div>

    </div>



    <script src="script.js"></script>
</body>

</html>